---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - sleepy.atha.gr
  resources:
  - sleepyservices
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - sleepy.atha.gr
  resources:
  - sleepyservices/finalizers
  verbs:
  - update
- apiGroups:
  - sleepy.atha.gr
  resources:
  - sleepyservices/status
  verbs:
  - get
  - patch
  - update
